* {
  box-sizing: border-box;
  text-align: center;
  
  }
  
  h3 {
      padding-bottom: 10px;
  }

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: var(--quaternary-color);
  color: #ffffff;
  text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color:rgba(0, 0, 0, 0.15)
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--quaternary-color);
}

button {
  padding: 5px;
  margin-bottom: 30px;
  font-size: 1rem;
  border-radius: 10px;
}