h1 {
  text-align: center;
}

form {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

form select {
  display: none;
}



.table-style {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /* width: 80%; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-style thead tr {
  background-color: #FC5404;
  color: #ffffff;
  text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}

.table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #FC5404;
}


/* th {
  height: 70px;
}

tbody {
  text-align: center;
}

#rank-bar {
  height: 10px;
  background-color: blue;
} */