h1 {
  text-align: center;
}

form {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.custom-select {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  padding: 5px;
  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height:2em;
  overflow:hidden;
  top: .5em;  
  cursor: pointer;
  white-space: nowrap;
  color: #444;
  
  outline: none;
  border: .06em solid transparent;
  border-radius: 5px;
  background: rgb(231, 231, 231);
  transition: .3s all ease-in-out;
}

.table-style {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-style thead tr {
  background-color: #FC5404;
  color: #ffffff;
  text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}

.table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #FC5404;
}

