:root{
    --primary-color:#000272;
    --secundary-color:#341677;
    --terciary-color:#A32F80;
    --quaternary-color:#FF6363;
    background-image: url(https://images.unsplash.com/photo-1557103224-66837249473e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;
}

/* button{ 
    background-color:var(--secundary-color);
    border: none;
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
} */